body{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Barlow', sans-serif;
  background-color:  white;
  font-size: 20px;
  line-height: 2;
  margin: 0;
}

.wrap{
  padding: 5em;
}

/*så att navbaren är högst upp på sidan var man än är, och så allt i navbaren blir centrerat*/
.navbar{
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color:  #b1cb9b;
}

/*gör så nav baren blir på rad och inte i kolumn. */
/*Ta bort alla dottar vid listor i navbar och pricing del*/

nav ul{
  padding: 0;
}
nav ul li{
  width: 8em;
  display: inline-block;
  list-style-type: none;
}

/*tar bort linjer under texten i navbaren*/
.navbar a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

a:hover {
    background-color: white;
}

/*så att hela bakgrundbilden är med i headern. column placerar loggan över slogan*/
  header{
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  background-image: url(sun.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
 }

header img{
  height: 10em;
  width: 10em;
}
header h1{
  text-shadow: 0px 0px 10px white;
}

/*alla h2 centrerat och med skugga*/
h2{
  font-size: 26px;
  display: flex;
  text-shadow: 0px 0px 10px white;
  justify-content: center;
}

/*border style på alla avsnitt som finns med i navbaren*/
.about{
  display: flex;
  padding: 5em 5em;
  align-items: center;
  text-align: center;
  border-style: inset;
}

/*stora diven i prices*/
.newpricing{
  display: flex;
  border-style: inset;
  padding: 5em;
  flex-wrap: wrap;
}
/*tre små divarna i newpricing*/
.prices{
flex: 1;
}

.prices h2{
  justify-content: flex-start;
}
/*stora diven i themes med tre mindre divar med alla teman*/
.themes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4em;
  border-style: inset;
}

.divthemes{
  padding-top: 3em;
  flex: 1;
  margin: 3em 3em;
}

.themes h2{
  font-size: 24px;
}

 .themes img{
  width:100%;
  height: auto;
}

footer{
  background-color:  #b1cb9b;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.contact{
  flex:1;
  width: 100%;
  flex-flow: column;
  padding: 2em 10em;
}

.contact p{
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
}

.social{
display: flex;
justify-content: space-around;
max-width: 200px;
margin: 0 auto;
}

.social img{
  height: 2em;
  width: 2em;
}

/* för responsiv iPad*/
@media (max-width: 854px){
  body{
    padding:0;
    font-size: 16px;
  }

  header h1{
    font-size: 24px;
  }

  .navbar a{
    font-size: 16px;
  }

  .about{
    padding: 1em 1em;
  }

  .newpricing{
    padding: 2em;
    display: block;
  }

  .pricing{
    padding: 1em 1em;
  }

  .themes{
    display: block;
  }

  .divthemes{
    padding: 0em 1em;
  }

}

@media (max-width: 670px){
    body{
      padding: 0;
    }

    .navbar{
      position: absolute;
      }

    nav ul li{
  display: block;
  text-align: center;
    }

    header h1{
      font-size: 20px;
    }

    header{
      text-align: center;
      padding: 1em;
      width: auto;
    }

    header img{
      height: 7em;
      width: 7em;
    }

    .wrap{
      padding: 1em;
    }

    .pricing{
      padding: 0em;
    }

    .divthemes{
      padding: 0em;
    }

    .contact{
      padding: 1em;
    }

    .contact input{
      width: 100%;
    }


  }
